@model IEnumerable<WebMyPham.ViewModels.Catalog.Orders.OrderViewModel>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách đơn hàng</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                @*<input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    
                    <thead>
                        <tr class="table-info text-bold">
                            <th>
                                Mã
                            </th>
                            <th>
                                Người đặt
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Số điện thoại
                            </th>

                            <th>
                                Trạng thái
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipPhoneNumber)
                            </td>

                            @if (item.Status == 1)
                            {

                                <td style="font-style:italic;color:slategrey">
                                    <div>
                                        Đã xác nhận
                                        <a asp-action="Detail" asp-route-id="@item.Id">Chi Tiết</a>
                                    </div>

                                </td>

                            }

                            else if (item.Status == 2)
                            {
                                <td style="font-style:italic;color:slategrey">
                                    <div>
                                        Giao hàng thành công
                                        <a asp-action="Detail" asp-route-id="@item.Id">Chi Tiết</a>
                                    </div>

                                </td>
                            }
                            else if (item.Status == 3)
                            {
                                <td style="font-style:italic;color:slategrey">
                                    <div>
                                        Đã huỷ
                                        <a asp-action="Detail" asp-route-id="@item.Id">Chi Tiết</a>
                                    </div>

                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>


                                        <a asp-action="Detail" asp-route-id="@item.Id">Chi Tiết</a>
                                        <form class="form-inline" asp-action="Edit" method="POST">
                                            <input type="hidden" value="1" name="action" />
                                            <input type="hidden" value="@item.Id" name="Id" />
                                            <input type="submit" value="Duyệt" class="btn btn-outline-warning" />
                                        </form>

                                        <form class="form-inline" asp-action="Edit" method="POST">
                                            <input type="hidden" value="3" name="action" />
                                            <input type="hidden" value="@item.Id" name="Id" />
                                            <input type="submit" value="Huỷ đơn" class="btn btn-outline-danger" />
                                        </form>





                                    </div>

                                </td>



                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*@await Component.InvokeAsync("Pager", Model)*@
        </div>
    </div>
</div>


